* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(221, 212, 212) ;
  padding: 0 10px;
}

.App {
  text-align: center;
  color: black;
}

.skeleton-card {
  background-color: #e0e0e0;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.heading {
  padding: 2px;
}

.navbar {
  position: fixed;
  height: 50px;
  width: 100%;
  /* padding: 10px; */
  background-color: rgb(19, 18, 18);
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 100%;
  
}

.navbar-logo .logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main-menu-container {
  flex: 1;
  /* margin-right: 30px; */
}

.menu-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  /* margin-top: 1%; */
}

.main-menu-item {
  color: white;
  padding: 10px 20px;
  margin: 5px 0;
  font-size: 0.9rem;
  /* margin-right: 20px; */
  cursor: pointer;
}

.main-menu-item-active {
  color: antiquewhite;
  margin: 5px 0;
  padding: 10px 30px;
  font-weight: bold;
}

.main-menu-item-active:hover {
  color: #ffffff;
  text-shadow: #ffffff 0 1px;
}

/* .menu-list-items.active {
  color: black;
} */

.navbar.active {
  background-color: white;
  color: black;
}

.navbar-container.active {
  background-color: white;
  color: black;
}

.navbar-buttons {
  cursor: pointer;
  border-radius: 5px;
}

.profile-container {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin: 40px;
}

.toggle {
  width: 60px;
  height: 24px;
  background-color: #333;
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px ;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-navbar {
  background-color: #222;
}

.toggle-icon {
  color: gold;
  font-size: 13px;
  z-index: 1;
}

.toggle-ball {
  width: 22px;
  height: 22px;
  background-color: whitesmoke;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.toggle-ball.active{
  background-color: white;
  transform: translateX(-36px);
}

.wishlist .wishlist-button{
  background-color: transparent;
  border: solid 1px white;
  padding: 8px 16px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wishlist .wishlist-button:hover {
  background-color: white;
  color: black;
}

/* .category-dropdown {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.category-dropdown:focus {
  border-color: #007bff;
  outline: none;
} */

.image {
  height: 40vmin;
  pointer-events: none;
}


.text-2xl {
  color: antiquewhite;
  border: solid 1px #ffffff;
  border-radius: 5px;
  background-color: rgb(46, 43, 43);
  padding: 5px;
}

.text-2xl:hover {
  background-color: black;
}


.products-card{
  border-radius: 10px;
  background-color: #b3a8a8;
  text-align: center;
  padding: 20px;
}

.description {
  text-align: start;
}

.description-price {
  text-align: center;
  font-weight: 500;
  text-shadow: #6b6363;
}

.product-image{
  width: 300px;
  height: 200px;
  border-radius: 60%;
  object-fit: cover;
}

.add-to-cart-button{
  color: azure;
  background-color: black;
}

.add-to-cart-button:hover {
  background-color: aqua;
}

.footer {
  background-color: #343a40; 
  color: #ffffff; 
  font-size: 12px;
  padding: 20px 10px;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer .row {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .col-md-6 {
  flex: 1;
  margin: 10px;
  min-width: 250px;
  /* width: 45%;
  margin-bottom: 20px; */
}

.footer h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #f8f9fa;
}

.footer p, .footer ul, .footer li {
  font-size: 14px;
  line-height: 24px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer ul li i {
  margin-right: 10px;
}

.footer a {
  color: #f8f9fa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #ffc107; 
  text-decoration: underline;
}

.footer .fas {
  margin-right: 10px;
}

.copyright {
  color: #adb5bd;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 90px;
  text-align: center;
}

.filter-container input, .filter-container select, .filter-container button {
        width: 100%;
        margin-bottom: 5px;
    }

    .search-input {
        width: 100%;
        padding: 5px;
    }

    .price-input {
        width: 48%;
        margin-bottom: 5px;
    }