* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8235D7 ;
}

.App {
  text-align: center;
  color: black;
}

.navbar {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: rgb(19, 18, 18);
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  
}

.navbar-logo .logo {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.main-menu-container {
  flex: 1;
  /* margin-right: 30px; */
}

.menu-list {
  display: flex;
  justify-content: center;
  list-style: none;
  /* margin-top: 1%; */
}

.main-menu-item {
  color: white;
  padding: 10px 20px;
  border: solid 1px;
  border-radius: 3px;
  margin-right: 20px;
  cursor: pointer;
}

.main-menu-item-active {
  color: antiquewhite;
  padding: 10px 30px;
  font-weight: bold;
}


/* .menu-list-items.active {
  color: black;
} */

.navbar.active {
  background-color: white;
  color: black;
}

.navbar-container.active {
  background-color: white;
  color: black;
}

.navbar-buttons {
  cursor: pointer;
  border-radius: 5px;
}

.profile-container {
  /* flex: 2; */
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

/* .profile-text-container {
  margin: 10px;
} */

.toggle {
  width: 60px;
  height: 24px;
  background-color: #333;
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
  padding: 0 5px;
}

.toggle-icon {
  color: gold;
  font-size: 14px;
}

.toggle-ball {
  width: 22px;
  height: 22px;
  background-color: whitesmoke;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.toggle-ball.active{
  background-color: white;
  transform: translateX(-36px);
}

.wishlist .wishlist-button{
  background-color: transparent;
  border: solid 1px white;
  padding: 8px 16px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wishlist .wishlist-button:hover {
  background-color: white;
  color: black;
}

.image {
  height: 40vmin;
  pointer-events: none;
}

.products-card{
  border-radius: 10px;
  width: 400px;
  text-align: center;
  padding: 20px;
}

.product-image{
  width: 300px;
  height: 200px;
  border-radius: 60%;
  object-fit: cover;
}


.cart{
  color: azure;
}


